body{
  padding: 0;
  margin: 0;
}


#box-1{
  height: 100vh;
  width: 100%;
  background-image: url('../images/dj.jpg');
  background-size: cover;
  display: table;
  background-attachment: fixed;
}

#box-1 h1{
  font-size: 50px;
  color: white;
  font-family: arial black;
  margin: 0px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
.joel{
  font-size: 50px;
  color: red;
  font-family: arial black;
  margin: 0px;
  display: table-cell;
  vertical-align:middle;

}

#button{
  width: 150px;
  height: 50px;
  font-family: arial;
  color: purple;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  cursor: pointer;
  border: 1px solid #ee3769;
  text-align: center;
  line-height: 50px;
  overflow: hidden;
  transition: color 0.3s ease-out;
}

#button::before{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  content: '';
  border-radius: 50%;
  display: block;
  width: 300px;
  height: 300px;
  left: -75px;
  transition: box-shadow 0.6s ease-out;
  z-index: -1;

}

#button:hover{
  color: #fff;
}

#button:hover::before{
  box-shadow: inset 0 0 0 160px #ee3769;

}



/* button one ends here */


#button-yangu{
  width: 70px;
  height: 50px;
  font-family: arial;
  color: purple;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  cursor: pointer;
  border: 1px solid #ee3769;
  text-align: center;
  line-height: 50px;
  overflow: hidden;
  transition: color 0.3s ease-out;
}

#button-yangu::before{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  content: '';
  border-radius: 50%;
  display: block;
  width: 300px;
  height: 300px;
  left: -75px;
  transition: box-shadow 0.6s ease-out;
  z-index: -1;

}

#button-yangu:hover{
  color: #fff;
}

#button-yangu:hover::before{
  box-shadow: inset 0 0 0 160px #ee3769;

}

/* above is the code for the button buh it has not been used yet.
When code used remeber to update cmment */



#mine h1{
  font-style:italic;
  padding-top: 50px;
  font-size: 37px;
}


#mine{

  text-align: center;
    font-family: arial black;
  font-weight: 900;
  text-decoration:none;
  font-size: 25px;
}

#para p{
  color: #333;
  font-size: 30px;
}


.paragraph-expertiseSection h2{
  font-size: 100px;

}

h2{
  color: #333;
  padding: 15px 0 ;
  font-size: 1.7em;
  line-height: 1.2;
  text-transform: uppercase;
  font-weight: 500;
}
#mwisho{
  vertical-align: middle;
  align-content: center;
  align-self: center;
}


h3{
  display: block;
  padding-top: 50px;
  font-size: 37px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  vertical-align: baseline;

}

.sub-title{
  display: block;
  color: #333;
  letter-spacing: 0;
  font-weight: 200;
  text-align: center;
  padding-bottom: 20px;
  font-size: 20px;
}
