body{
  padding: 0;
  margin: 0;
}


#box-1{
  height: 100vh;
  width: 100%;
  background-image: url('../images/dj.jpg');
  background-size: cover;
  display: table;
  background-attachment: fixed;
}

#box-1 h1{
  font-size: 50px;
  color: white;
  font-family: arial black;
  margin: 0px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
.joel{
  font-size: 50px;
  color: red;
  font-family: arial black;
  margin: 0px;
  display: table-cell;
  vertical-align:middle;

}

#button{
  width: 150px;
  height: 50px;
  font-family: arial;
  color: purple;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  cursor: pointer;
  border: 1px solid #ee3769;
  text-align: center;
  line-height: 50px;
  overflow: hidden;
  transition: color 0.3s ease-out;
}

#button::before{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  content: '';
  border-radius: 50%;
  display: block;
  width: 300px;
  height: 300px;
  left: -75px;
  transition: box-shadow 0.6s ease-out;
  z-index: -1;

}

#button:hover{
  color: #fff;
}

#button:hover::before{
  box-shadow: inset 0 0 0 160px #ee3769;

}
