<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Joels new dawn</title>

    <link rel="stylesheet" href="static/css/bootstrap.css">
       <link rel="stylesheet" href="static/css/bootstrap-theme.min.css">
     <!--thiis is the angularjs script linking  -->
   <!-- <script src="static/js/angular.min.js"></script> -->
       <link rel="stylesheet" href="static/css/base.css">
</head>
<body>
<!--the making of the  on load page this contains the background image -->


<div class="main">


<div id="box-1">
      <h1>WORLD-CLASS <br>
WEB & MOBILE APPS <br>
 </h1>
 <div class="joel">
   <div id="button">
     GET IN TOUCH
   </div>

 </div>
    </div><!--end of box-1-->
</div><!--end of main -->
<!--making of the RESPONSIVE NAVIGATION MENU -->

<header>
  <div class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a href="#" class="navbar-brand">ngahu ng'ang'a</a>
      </div>
    </div>
  </div>
</header>




<script src="static/js/jquery.js"></script>
<script src="static/js/bootstrap.min.js"></script>
</body>
</html>
