<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Joels new dawn</title>

    <link rel="stylesheet" href="static/css/bootstrap.css">
       <link rel="stylesheet" href="static/css/bootstrap-theme.min.css">
       <link rel="stylesheet" href="static/css/base.css">
    <!--thiis is the angularjs script linking  -->
    <script src="static/js/angular.min.js"></script>
</head>
<body>
<!--the making of the  on load page this contains the background image -->
<img src="static/images">








<script src="static/js/jquery.js"></script>
<script src="static/js/bootstrap.min.js"></script>
</body>
</html>