<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Joels new dawn</title>

    <link rel="stylesheet" href="static/css/bootstrap.css">
       <link rel="stylesheet" href="static/css/bootstrap-theme.min.css">
     <!--thiis is the angularjs script linking  -->
   <!-- <script src="static/js/angular.min.js"></script> -->
       <link rel="stylesheet" href="static/css/base.css">
</head>
<body>
<!--the making of the  on load page this contains the background image -->

<div id="box-1">
      <h1>NEW creations </h1>
    </div>





<script src="static/js/jquery.js"></script>
<script src="static/js/bootstrap.min.js"></script>
</body>
</html>
